*{
    font-family: "Roboto", sans-serif;
    
}


body{
    
    background-color: #f6f8fc;
}
.content{
    width: 100vw;
    height: 100vh ;
    padding: 1rem;
    background-color: #ffff;
    border-radius: 1rem;
}

.content h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: #373232;
    margin: 1.5rem 0 2rem 0;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.1em;
}

.content h1 .pokeball-icon {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    background-image: url('https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/poke-ball.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    margin: 0 -0.25em;
}


@media screen and (min-width: 992px){
    .content{
        max-width: 992px;
        margin: 1rem auto;
        height: auto;
        border-radius: 1rem;
    }
}

