*{
    font-family: "Roboto", sans-serif;
    
}

body{
    
    background-color: #f6f8fc;
}
.content{
    width: 100vw;
    height: 100vh ;
    padding: 1rem;
    background-color: #ffff;
    border-radius: 1rem;
}

@media screen and (min-width: 992px){
    .content{
        max-width: 992px;
        margin: 1rem auto;
        height: auto;
        border-radius: 1rem;
    }
}

