.pokemons{
    list-style: none;
    padding: 1rem;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
}


.pokemon{
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #49D0B0;
    color: white;
}

.pokemon .number{
    color: #ffffff;
    opacity: 0.7;
    text-align: right;
}

.pokemon .name{
    color: #ffff;
    margin-bottom: .25rem;
    font-size: .9rem;
}

.pokemon .detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types{
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type{
    padding: .25rem .5rem ;
    background-color: #000000;
    opacity: 0.2;
    color: #ffff;
    font-size: .725rem;
    margin: .25rem 0;
    border-radius: 1rem;
}

.pokemon .detail img{
    max-width: 80px;
    height: 75px;
    border-style: none;
    align-self: flex-end;
}

@media screen and (min-width: 380px){
    .pokemons{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 900px){
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr ;
    }
}