.pokemons{
    list-style: none;
    padding: 1rem;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
}

.normal{background-color:  
    #a6a877;
}
.grass{background-color:  
    #77c850;
}
.fire{background-color:  
    #ee7f30;
}
.water{background-color:  
    #678fee;
}
.electric{background-color:  
    #f6cf2e;
}
.ice{background-color:  
    #98d5d7;
}
.ground{background-color:  
    #dfbf69;
}
.flying{background-color:  
    #a98ff0;
}
.poison{background-color:  
    #a040a0;
}
.fighting{background-color:  
    #bf3029;
}
.psychic{background-color:  
    #f65687;
}
.dark{background-color:  
    #725847;
}
.rock{background-color:  
    #b8a137;
}
.bug{background-color:  
    #a8b720;
}
.ghost{background-color:  
    #6e5896;
}
.steel{background-color:  
    #b9b7cf;
}
.dragon{background-color:  
    #6f38f6;
}
.fairy{background-color:  
    #f9aec7;
}



.pokemon{
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.pokemon:hover{
    transform: translateY(-8px) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.pokemon-link{
    color: inherit;
    text-decoration: none;
    display: block;
}

.pokemon .number{
    color: #ffffff;
    opacity: 0.7;
    text-align: right;
}

.pokemon .name{
    color: #ffff;
    margin-bottom: .25rem;
    font-size: .9rem;
}

.pokemon .detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types{
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type{
    padding: .25rem .5rem ;
    opacity: .65;
    color: #ffff;
    font-size: .725rem;
    margin: .25rem 0;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon .detail img{
    max-width: 80px;
    height: 75px;
    border-style: none;
    align-self: flex-end;
}

.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button{
    margin: .25rem 0;
    background-color: #da8020;
    border: none;
    border-radius: 1rem;
    color: white;
    padding: .25rem .5rem;
    font-size: .825rem;
    pointer-events: all;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.pagination button:hover{
    background-color: #444447;
    transform: translateY(-4px) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 380px){
    .pokemons{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 900px){
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr ;
    }
}